/*Developer: Haidar Nasir*/
h1{
	text-align: center;
	 font-size: 50px;
}
p{
	margin-Left: 35%;
	 font-size: 25px;
}

body{
	background-color: #b3ccff;
}
img{
	hight:300px;
	width: 500px;
	margin-left: 35%;

}
p{
	margin-left: 35%;
	 font-size: 25px;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
p{
	margin-right: 35%;
	 font-size: 25px;
}     
</p> {
	margin-right: 35%;
	 font-size: 25px;

p
	margin-right: 35%;
	 font-size: 25px;
}
}
	 

]